
{% extends 'base.html'%}

{% load crispy_forms_tags %}


{% block content%}


<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
									    <div class="col-md-5">
                                            <div class="form-group">
                                                <Strong><label>Username</label><Strong>
                                                <Strong><input type="text" class="form-control" disabled placeholder="Company" value="{{request.user.username}}"><Strong>
                                            </div>
                                        </div>
										<div class="col-md-5">
                                            <div class="form-group">
                                                <Strong><label>Email address</label><Strong>
                                                <Strong><input type="text" class="form-control" disabled placeholder="Company" value="{{request.user.email}}"><Strong>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <Strong><label>First Name</label><Strong>
                                                <Strong><input type="text" class="form-control" disabled placeholder="Company" value="{{request.user.first_name}}"><Strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <Strong><label>Last Name</label><Strong>
                                                <Strong><input type="text" class="form-control" disabled placeholder="Last Name" value="{{request.user.last_name}}"></Strong>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Purse </label>
                                                <input type="text" class="form-control" disabled placeholder="Home Address" value="{{request.user.profile.purse}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" placeholder="City" value="Lagos">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control" placeholder="Country" value="Nigeria">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Postal Code</label>
                                                <input type="number" class="form-control" placeholder="ZIP Code">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="5" class="form-control" placeholder="Here can be your description" value="Mike">This is me.</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>





{% endblock %}