{% extends 'base.html'%}


{% load crispy_forms_tags %}

{% block content%}


<div class="container">
<div class="row">

  <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                            </div>
                            <div class="content">
                           
                                 <p>Presently, there is no sales</p>

                                <div class="footer">
                                    <div class="legend">

                                </div>
                            </div>
                        </div>
                    </div>




</div>

    </div>


</div>

{% endblock %}